@import "tailwindcss";

@font-face{
  font-family: 'Caveat';
  src: url('/fonts/Caveat.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face{
  font-family: 'Nunito';
  src: url('/fonts/Nunito.woff2') format('woff2');
  font-size: normal;
  font-display: swap;
}

@theme {
  /* Fuentes */
  --font-caveat: 'Caveat', cursive;
  --font-nunito: 'Nunito', sans-serif;

  /* Colores */
  --color-pinky-light: #f8c4d8;
  --color-pinky-regular: #e79bb1;
  --color-pinky-dark: #d97f97;
  
  --color-more-light: #e8dffa;

  --color-text-light: #8d7267;
  --color-text-dark: #5D4037;
  --color-crema: #FEF9F3;
  
}


/* body {
  --sb-track-color: #f8c4d8;
  --sb-thumb-color: #e79bb1;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  border: 1px solid #ffffff;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
} */