@import "tailwindcss";

@font-face{
  font-family: 'Caveat';
  src: url('../assets/fonts/Caveat.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

@font-face{
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito.woff2') format('woff2');
  font-size: normal;
  font-display: swap;
}

@theme {
  --font-caveat: 'Caveat', cursive;
  --font-nunito: 'Nunito', sans-serif;
}