---
import Header from "@/sections/Header.astro";
import { productos } from "@/data/data";
/* import LayoutProductos from "@/layouts/LayoutProductos.astro"; */
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section
    class="pt-24 h-screen bg-gradient-to-br from-crema to-40% to-more-light"
  >
    <h1>ver</h1>
  </section>
</Layout>
