---

---
<section id="about" class="mt-10 pb-30 w-full  bg-more-light mask-t-from-80% relative">
  <div class="max-w-7xl mx-auto pt-50 p-4  grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
    <div class="order-2 md:order-1">
      <img src="images/crafter.webp" class="object-contain h-[700px] w-full animate-levitar"  alt="">
    </div>
    <!-- Descripcion -->
    <div class="order-1 md:order-2">
      <div class="bg-white p-10 rounded-2xl shadow-md relative">
        <div class="absolute -top-4 -left-4 text-4xl font-caveat font-bold text-pinky-regular">"</div>
        <h2 class="text-4xl md:text-5xl mb-6 font-bold text-pinky-regular font-caveat">Sobre mí</h2>
        <p class="mb-4 text-lg  text-text-dark font-nunito  text-pretty">Hola, soy Guadalupe, la creadora detrás de Cositos de Lana. Mi pasión por el tejido comenzó hace más de 2 años, inspirada por mi mamá, a quien veía tejer bolsos con dedicación. Así empecé a explorar este mundo lleno de texturas y colores.</p>
        <p class="mb-4 text-text-light font-nunito text-pretty text-lg">Cada una de mis creaciones está hecha con amor y dedicación, cuidando cada detalle para asegurar que sean piezas únicas y especiales. Utilizo materiales de alta calidad que garantizan durabilidad y belleza.</p>
        <p class="mb-4 text-text-light font-nunito text-pretty text-lg">Lo que comenzó como un hobby se convirtió en mi pasión y, con el tiempo, en un emprendimiento familiar que comparto con mi mamá. Me encanta ver cómo mis creaciones traen alegría a tantas personas y hogares.</p>
        <p class="font-bold text-pinky-regular font-caveat text-2xl">¡Cada puntada lleva un poco de mi corazón!</p>
        <div class="absolute -bottom-4 -right-4 text-4xl font-caveat font-bold text-pinky-regular rotate-180">"</div>
      </div>
    </div>
  </div>
</section>

<style>
  .animate-levitar{
    animation: levitar 10s infinite;
  }

  @keyframes levitar {
    0% {
      transform: translate(0, 0);
    }
    15% {
      transform: translate(-30px, -30px);
    }
    30% {
      transform: translate(-5, -5);
    }
    45% {
      transform: translate(-5px, 30px);
    }
    60% {
      transform: translate(0, 0);
    }
    75% {
      transform: translate(30px,30px);
    }
    100{
      transform: translate(0,0)
    }
  }
</style>