---
---
<section id="about" class="py-10 md:py-40 w-full bg-more-light mask-t-from-80% relative overflow-hidden">
  <div class="max-w-6xl mx-auto pt-50 p-4 md:p-2 grid grid-cols-1 md:grid-cols-2 gap-12 items-center">

    <div class="order-2 md:order-1 relative w-full">
      <div class="absolute -left-5 -top-5 mask-radial-from-80% bg-crema/70 size-20 rounded-full"></div>
      <div class="absolute -right-5 -bottom-5 size-30 bg-transparent border-5 border-dashed border-pinky-regular rounded-full animation-rodar"></div>
      <img src="images/crafter.webp" class="h-[660px] w-full bg-white p-2 rounded-4xl object-cover shadow-xl"  alt="Imagen de la artesana">
    </div>

    <!-- Descripcion -->
    <div class="order-1 md:order-2 w-full">
      <div class="bg-white p-10 rounded-2xl shadow-md relative">
        <div class="absolute -top-4 -left-4 text-4xl font-caveat font-bold text-pinky-regular">"</div>
        <h2 class="text-4xl md:text-5xl mb-6 font-bold text-pinky-regular font-caveat">Sobre mí</h2>
        <p class="mb-4 text-lg  text-text-dark font-nunito  text-pretty">Hola, soy Guadalupe, la creadora de Cositos de Lana. Mi pasión por el tejido nació hace más de 2 años, inspirada por mi mamá, a quien veía tejer bolsos con dedicación. Así descubrí un mundo de texturas y colores.</p>
        <p class="mb-4 text-text-light font-nunito text-pretty text-lg">Cada creación está hecha con amor, cuidando cada detalle para que sea única y especial. Uso materiales de calidad que aseguran belleza y durabilidad.</p>
        <p class="mb-4 text-text-light font-nunito text-pretty text-lg">Lo que empezó como un hobby hoy es mi pasión y emprendimiento, que a veces comparto con mi mamá. Me emociona ver cómo mis creaciones alegran hogares.</p>
        <p class="font-bold md:text-center text-pinky-regular font-caveat text-2xl">¡Cada puntada lleva un poco de mi corazón!</p>
        <div class="absolute -bottom-4 -right-4 text-4xl font-caveat font-bold text-pinky-regular rotate-180">"</div>
      </div>
    </div>
  </div>

  <!-- Decoradores -->
  <div class="absolute h-30 w-30 bg-pinky-dark rounded-full blur-3xl right-20 top-20 animate-levitar"></div>
  <div class="absolute h-20 w-20 bg-pinky-dark rounded-full blur-3xl bottom-15 left-15 animate-levitar"></div>

</section>

<style>
  .animate-levitar{
    animation: levitar 8s infinite ease-in-out;
  }
  .animation-rodar {
    animation: animate-rodar 6s ease-in-out infinite alternate;
  }

  @keyframes levitar {
    0% {
      transform: translate(0, 0);
    }
    15% {
      transform: translate(-20px, -20px); /* esquina sup izquierda */
    }
    30% {
      transform: translate(-13px, -12px);   /* casi al centro */
    }
    45% {
      transform: translate(20px, -20px);  /* esquina sup derecha */
    }
    60% {
      transform: translate(13px, 11px);     /* casi al centro */
    }
    75% {
      transform: translate(20px, 20px);   /* esquina inf derecha */
    }
    87% {
      transform: translate(-12px, 15px);    /* casi centro otra vez */
    }
    100% {
      transform: translate(0px, 0px);  /* esquina inf izquierda */
    }
  }

  @keyframes animate-rodar {
    0% {
      transform: rotate(0deg);  
    }
    100% {
      transform: rotate(180deg);
    }
  }
</style>