---

---
<section id="contactame" class="py-20 w-full bg-crema overflow-hidden">
  <div class="max-w-6xl mx-auto p-2">
    <h2 class="text-pinky-regular text-center text-6xl font-caveat font-bold select-none">Contáctame</h2>
    <p class="text-center text-text-dark font-nunito text-pretty text-xl mt-10 select-none">¿Interesado en alguno de mis productos o quieres algo personalizado? <br> ¡Envíame un mensaje y te responderé a la brevedad!</p>
  
    <div class="mt-13 grid grid-cols-1 md:grid-cols-5 gap-8 items-start">
      <div class="md:col-span-3 ">
        <form class="bg-white p-6 rounded-2xl shadow-md border border-black/5">
        
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div>
              <label for="name" class="block mb-2 text-xl font-nunito text-text-dark select-none">Nombre:</label>
              <input type="text" id="name" name="name" required class="border border-slate-300 focus:outline-none focus:ring-2 focus:ring-pinky-light focus:border-pinky-dark transition duration-100 text-text-dark px-4 py-2 w-full rounded-lg" placeholder="Tu nombre" />
            </div>

            <div>
              <label for="email" class="block mb-2 text-xl font-nunito text-text-dark select-none"> Correo electrónico: </label>
              <input type="email" id="email" name="email" required class="border border-slate-300 focus:outline-none focus:ring-2 focus:ring-pinky-light focus:border-pinky-dark transition duration-100 text-text-dark px-4 py-2 w-full rounded-lg" placeholder="tu@email.com" />
            </div>
          </div>
          
          <div class="mb-4">
            <label for="productType" class="block mb-2 text-xl font-nunito text-text-dark select-none">¿Qué te interesa? </label>
            <select id="productType" name="productType" class="border border-slate-300 focus:outline-none focus:ring-2 focus:ring-pinky-light focus:border-pinky-dark transition duration-100 text-text-dark px-4 py-2 w-full rounded-lg">
              <option value="Amigurumi">Amigurumis</option>
              <option value="Bolso">Bolsos</option>
              <option value="Decoración">Decoración</option>
              <option value="Otro">Otro</option>
            </select>
          </div>
          
          <div class="mb-6">
            <label for="message" class="block mb-2 text-xl font-nunito text-text-dark select-none"> Descripción: </label>
            <textarea id="message" name="message" required rows={5} class="border border-slate-300 focus:outline-none focus:ring-2 focus:ring-pinky-light focus:border-pinky-dark transition duration-100 text-text-dark px-4 py-2 w-full rounded-lg resize-none" placeholder="Cuéntame qué te gustaría..." ></textarea>
          </div>
          
          <button type="submit" class="group cursor-pointer bg-pinky-regular text-white px-6 py-3 rounded-full shadow-md hover:shadow-lg transition-all duration-300 font-semibold hover:bg-pinky-dark w-full flex items-center justify-center gap-2" > 
            Enviar mensaje 
            <svg  xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 group-hover:rotate-[360deg] group-hover:translate-x-2 transition-transform duration-200" viewBox="0 0 24 24" fill="none" stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 14l11 -11" />
              <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
            </svg>
          </button>
        </form>
      </div>
      
      <div class="md:col-span-2 ">
        <div class="bg-white p-6 rounded-2xl shadow-md border border-black/10">
          <h3 class="text-3xl font-bold font-caveat text-pinky-regular mb-4">Conversemos</h3>
      
          <div class="mb-6">
            <p class="mb-2 text-xl font-nunito text-text-dark font-bold">Vía Whatsapp</p>
            <p class="text-text-light font-semibold">Envia tu mensaje al: +507 6207-3169</p><!-- son 8  -->
          </div>
      
          <div class="mb-6 font-nunito">
            <p class="mb-2 text-xl font-nunito text-text-dark font-bold">Horario de atención</p>
            <p class="text-text-light font-semibold"><span class="font-bold">Lunes a Viernes:</span> 10:00 AM - 3:00 PM</p>
            <p class="text-text-light font-semibold"><span class="font-bold">Sábado:</span> 9:00 AM - 12:00 MD</p>
          </div>
      
          <div class="mb-0 font-nunito w-full">
            <p class="mb-2 text-text-dark font-bold ">O puedes escribirme en las redes sociales:</p>
            <div class="grid grid-cols-3 gap-4 items-center">
              <!-- <a href="/"
                class="text-white flex h-12 items-center justify-center bg-black rounded-lg shadow-lg transition duration-300 hover:scale-105">
                <svg width="35px" height="48px" viewBox="0 0 35 32" role="img" aria-label="Logotipo de X"> <g> 
                  <path style=" stroke:none;fill-rule:nonzero;fill:currentColor;fill-opacity:1;" d="M 27.535156 0 L 32.898438 0 L 21.117188 13.578125 L 34.882812 32 L 24.078125 32 L 15.621094 20.804688 L 5.9375 32 L 0.570312 32 L 13.054688 17.476562 L -0.128906 0 L 10.941406 0 L 18.585938 10.226562 Z M 25.65625 28.8125 L 28.628906 28.8125 L 9.378906 3.070312 L 6.183594 3.070312 Z M 25.65625 28.8125 "></path> </g>
                </svg> 
              </a> -->
              
              <a href="https://www.instagram.com/cositos_de_lana/" 
                class="text-white flex h-12 items-center justify-center bg-gradient-to-br from-yellow-400 via-pink-500 to-purple-600 rounded-lg shadow-lg transition duration-300 hover:scale-105"
                target="_blank"
                rel="noopener noreferrer" 
                aria-label="Visitar perfil de Cositos de Lana en Instagram" >
                 <svg width="50" height="50" fill="none" viewBox="0 0 48 48" role="img" aria-label="Logotipo de Instagram"> 
                  <path fill="currentColor" d="M24.016 9.242c4.8 0 5.392.03 7.262.093 1.745.094 2.712.374 3.335.623.842.312 1.434.717 2.057 1.34.623.624 1.029 1.216 1.34 2.058.25.623.53 1.59.624 3.335.093 1.901.093 2.462.093 7.262 0 4.8-.03 5.393-.093 7.263-.094 1.745-.374 2.711-.624 3.335-.311.841-.716 1.433-1.34 2.057-.623.623-1.215 1.028-2.057 1.34-.623.25-1.59.53-3.335.623-1.901.094-2.462.094-7.262.094-4.8 0-5.393-.031-7.263-.094-1.745-.093-2.711-.374-3.335-.623-.841-.312-1.434-.717-2.057-1.34-.623-.624-1.029-1.216-1.34-2.057-.25-.624-.53-1.59-.624-3.335-.093-1.902-.093-2.463-.093-7.263s.031-5.392.093-7.262c.094-1.745.374-2.712.624-3.335.311-.842.717-1.434 1.34-2.057.623-.624 1.216-1.029 2.057-1.34.624-.25 1.59-.53 3.335-.624 1.87-.062 2.463-.093 7.263-.093Zm0-3.242c-4.894 0-5.517.031-7.419.094-1.9.093-3.21.405-4.363.841a8.936 8.936 0 0 0-3.18 2.088 8.629 8.629 0 0 0-2.119 3.18c-.436 1.153-.748 2.462-.841 4.363C6.03 18.5 6 19.122 6 24.016c0 4.893.031 5.517.094 7.418.093 1.901.405 3.21.841 4.363a8.936 8.936 0 0 0 2.088 3.18 8.936 8.936 0 0 0 3.18 2.088c1.153.436 2.462.748 4.363.842C18.5 42 19.091 42 23.984 42c4.894 0 5.517-.031 7.419-.093 1.9-.094 3.21-.406 4.363-.842a8.936 8.936 0 0 0 3.18-2.088 8.938 8.938 0 0 0 2.088-3.18c.436-1.153.748-2.462.841-4.363.094-1.933.094-2.525.094-7.418 0-4.894-.031-5.517-.094-7.419-.093-1.9-.405-3.21-.841-4.363a8.937 8.937 0 0 0-2.088-3.18 8.936 8.936 0 0 0-3.18-2.088c-1.153-.436-2.462-.748-4.363-.841C29.5 6.03 28.909 6 24.016 6Z"></path>
                  <path fill="currentColor" d="M24.015 14.758a9.258 9.258 0 0 0 0 18.515 9.258 9.258 0 0 0 0-18.515Zm0 15.242A6.02 6.02 0 0 1 18 23.984a6.02 6.02 0 0 1 6.015-6.015c3.335 0 5.985 2.711 5.985 6.046A5.986 5.986 0 0 1 24.015 30ZM33.615 16.535a2.15 2.15 0 1 0 0-4.301 2.15 2.15 0 0 0 0 4.3Z"></path>
                 </svg> 
              </a>
              
              <a href="https://www.tiktok.com/@cositos_de_lana"
                class="text-white flex h-12 items-center justify-center bg-gradient-to-br from-black via-gray-800 to-pink-600 rounded-lg shadow-lg transition duration-300 hover:scale-105"
                target="_blank"
                rel="noopener noreferrer" 
                aria-label="Visitar perfil de Cositos de Lana en X (Twitter)">
                <svg width="35px" height="48px" fill="currentColor" viewBox="0 0 24 24" xml:space="preserve" stroke="currentColor"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z"></path></g></svg>
              </a>

            </div>
          </div>
      
          <div class="bg-pinky-light/30 mt-4 p-4 rounded-xl flex items-center gap-3">
            <div>
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="stroke-pinky-dark">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 11v.01" /><path d="M8 11v.01" />
                <path d="M16 11v.01" /><path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3z" />
              </svg>
            </div>
            <div>
              <p class="font-medium text-text-dark">¿Quieres un producto personalizado?</p>
              <p class="text-sm text-text-light">
              Cuéntame tus ideas y juntos podemos crear algo único y especial.
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</section>    