---

---
<footer class="w-full overflow-hidden bg-pinky-dark text-white">
  <div class="max-w-6xl mx-auto p-2">
    <section class="grid grid-cols-1 md:grid-cols-4 gap-8 mt-6 pb-20 font-nunito">

      <div class="md:col-span-2 text-center md:text-start">
        <h3 class="font-caveat font-bold text-2xl">Cositos De Lana</h3>
        <p class="mt-5 text-lg text-pretty md:pr-10">Tejidos hechos a mano con amor y dedicación. Cada Pieza es única y especial, diseñada para llenar de calidez y color tu vida.</p>
      </div>

      <div class="col-span-1 text-center md:text-start">
        <h3 class="font-caveat font-bold text-2xl"> Enlaces rápidos </h3>
        <ul class="mt-5 [&>li:hover]:font-bold space-y-2">
          <li><a href="/#products">Inicio</a></li>
          <li><a href="/#products">Productos</a></li>
          <li><a href="/#products">Sobre mí</a></li>
        </ul>
      </div>

      <div class="col-span-1 text-center md:text-start">
        <h3 class="font-caveat font-bold text-2xl"> Productos </h3>
        <ul class="mt-5 [&>li:hover]:font-bold space-y-2 ">
          <li><a href="/#products">Amigurumis</a></li>
          <li><a href="/#products">Bolsos</a></li>
          <li><a href="/#products">Decoración</a></li>
        </ul>
      </div>

    </section>
    <!-- underline -->
    <section class="border-t border-crema/40 flex justify-between py-4 font-nunito opacity-80">
      <p class="font-bold">© 2025 Cositos de Lana. Todos los derechos reservados</p>
      <p>Desarrollado por <a href="https://github.com/OutziderDev/" class="font-bold text-rose-800" target="_blank" rel="noopener noreferrer"> @OutziderDev</a></p>
      <p>Hecho con ❤️ en Panamá</p>
    </section>
  </div>
</footer>