---

---

<header class="fixed top-0 z-50 h-20 w-full select-none overflow-hidden p-2">
  <div class="flex justify-between max-w-6xl mx-auto h-full items-center">
    <div class="text-3xl sm:text-4xl md:text-5xl font-caveat text-pinky-regular ">
      Cositos de Lana
    </div>

    <div class="md:hidden flex items-center justify-center mr-2">
      <svg  xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 stroke-pinky-regular hover:stroke-pinky-dark cursor-pointer" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
    </div>

    <nav class="md:flex hidden gap-10 text-xl text-text-dark [&>a:hover]:text-pinky-dark font-nunito">
      <a href="/#hero" class="group">
        Inicio
        <span class="block w-0 group-hover:w-full transition-all duration-300 h-0.5 bg-pinky-dark"></span>
      </a>
      <a href="/#products" class="group">
        Productos
        <span class="block w-0 group-hover:w-full transition-all duration-300 h-0.5 bg-pinky-dark"></span>
      </a>
      <a href="/#about" class="group">
        Sobre Mí
        <span class="block w-0 group-hover:w-full transition-all duration-300 h-0.5 bg-pinky-dark"></span>
      </a>
      <a href="/#contactame" class="group">
        Contactame        
        <span class="block w-0 group-hover:w-full transition-all duration-300 h-0.5 bg-pinky-dark"></span>
      </a>
    </nav>
  </div>
</header>

<style>
  header {
    animation: header-blur-scroll 0.3s linear forwards;
    animation-timeline: scroll();
    animation-range: 0 350px;
  }

  @keyframes header-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: transparent;
    }

    100% {
      backdrop-filter: blur(10px);
      background: #fff;
      box-shadow: 1px 1px 5px #0003;
      height: 70px;
      width: 100%;
    }
  }
</style> 