---

---

<header class="flex items-center justify-between p-2 h-15 bg-transparent sticky top-0">
  <div class="text-4xl font-caveat font-bold">
    Cositos De Lana
  </div>
  <nav class="flex gap-4 font-bold text-lg">
    <a href="/hero">Inicio</a>
    <a href="/products">Productos</a>
    <a href="/about">Sobre Mí</a>
    <a href="/contactame">Contactame</a>
  </nav>
</header>