---
import background from '../assets/background.svg';
---
<section id="hero" class="relative h-screen w-full bg-gradient-to-br from-crema to-75% to-more-light">
  <img id="background" src={background.src} alt=""  />
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col md:flex-row gap-1 absolute top-1/2 -translate-y-1/2 items-center">
      <!-- Info Cositos -->
      <div class="flex flex-col justify-center w-1/2">
        <h1 class="font-caveat text-8xl text-pinky-dark font-bold animate-bounce">Cositos de Lana</h1>
        <p class="text-text-light text-3xl my-5 font-bold sepia-50">Tejidos únicos hechos con amor y dedicación ✨</p>
        <p class="text-pretty  text-xl font-nunito text-text-dark">Amigurumis, bolsos artesanales y decoración para el hogar. Cada pieza es única y especialmente diseñada para llenar de calidez y color tu espacio.</p>
        <div class="flex gap-4 mt-10">
          <a href="" class="px-7 py-4 rounded-full bg-pinky-regular hover:bg-pinky-dark text-xl text-white transition-all font-bold">Ver Productos</a>
          <a href="" class="px-7 py-4 rounded-full bg-pinky-light text-xl ">Cotizar Producto</a>
        </div>
      </div>
      <!-- Ilustracion Cositos -->
       <div class="relative  flex  items-center justify-centerw-1/2">
        <img src="/images/ilustracion.png" class="object-cover scale-75" alt="">
       </div>
    </div>
  </div>
</section>


<style>
	#background {
		position: absolute;
		opacity: 90%;
		width: 100%;
		height: inherit;
		filter: blur(100px);
	}
</style>   