---

---
<section id="hero" class="relative overflow-hidden bg-gradient-to-br from-crema to-65% to-more-light w-full">
  <div class="max-w-6xl  mx-auto pt-35 md:pt-20 pb-25 md:pb-40 px-4 md:px-2">
    <div class="flex flex-col md:flex-row gap-8 ">
      <!-- Info Cositos -->
      <div class="flex flex-col justify-center md:w-2/4">
        <h1 class="font-caveat text-center md:text-left text-7xl md:text-8xl text-pinky-dark font-bold md:animate-bounce transition-normal">Cositos de Lana</h1>
        <p class="text-text-light text-center md:text-left font-nunito text-2xl my-5 font-bold sepia-50">Tejidos únicos hechos con amor y dedicación ✨</p>
        <p class="text-pretty text-center md:text-left  text-lg font-nunito font-bold text-text-dark">Amigurumis, bolsos artesanales y decoración para el hogar. Cada pieza es única y especialmente diseñada para llenar de calidez y color tu espacio.</p>
        <div class="flex flex-col md:flex-row gap-4 mt-10">
          <a href="/#products" class="px-7 py-4 rounded-full bg-pinky-regular hover:bg-pinky-dark text-xl text-center text-white transition-all font-bold cursor-pointer">Ver Productos</a>
          <a href="/#contactame" class="px-7 py-4 rounded-full border-4 border-pinky-regular bg-transparent hover:bg-pinky-regular text-xl text-center text-pinky-regular hover:text-white transition-all font-bold cursor-pointer">Cotizar Producto</a>
        </div>
      </div>

      <!-- Ilustracion Cositos -->
      <div class="relative w-full md:w-2/4 ">
        <img src="/images/lanaRosa.webp" class="absolute scale-50 animacion-flote1 z-0" alt="">
        <img src="/images/lanaVerde.webp" class="absolute size-10 z-0 left-5 top-15 animacion-flote-linear" alt="">
        <img src="/images/ilustracion.png" class="relative object-contain aspect-square w-full z-20" alt="">
      </div>
    </div>
  </div>

  <!-- Shape separadora -->
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" class="absolute w-full fill-white rotate-y-180 -bottom-1" >
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</section>

<style>
  .animacion-flote1 {
    animation: flotar1 15s infinite alternate;
  }
  .animacion-flote-linear {
    animation: flotar-linear 10s infinite alternate ease-in-out ;
  }

  @keyframes flotar1 {
    0% {
      transform: translate(-60px,0px);
    }
    50%{
      transform: translate(0, 350px) rotate(180deg);
    }
    100% {
      transform: translate(100px,0px);
    }
  }

  @keyframes flotar-linear {
    0% {
      transform: translate(0,0) rotate(0deg);
    }
    
    100% {
      transform: translate(0px, 200px) rotate(180deg);
    }
  }
</style>