---
import background from '../assets/background.svg';
---
<section id="hero" class="relative overflow-hidden p-4 bg-gradient-to-br from-crema to-75% to-more-light ">
  <img id="background" src={background.src} alt="imagen de fondo de seccion" class="absolute inset-0 select-none h-full w-full object-cover opacity-90 blur-2xl -z-10"  />

  <div class="max-w-7xl mx-auto pt-20 z-10">
    <div class="flex flex-col md:flex-row gap-1 items-center">
      <!-- Info Cositos -->
      <div class="flex flex-col justify-center md:w-1/2">
        <h1 class="font-caveat text-center md:text-left text-7xl md:text-8xl text-pinky-dark font-bold md:animate-bounce transition-normal">Cositos de Lana</h1>
        <p class="text-text-light text-center md:text-left text-2xl my-5 font-bold sepia-50">Tejidos únicos hechos con amor y dedicación ✨</p>
        <p class="text-pretty text-center md:text-left  text-lg font-nunito font-bold text-text-dark">Amigurumis, bolsos artesanales y decoración para el hogar. Cada pieza es única y especialmente diseñada para llenar de calidez y color tu espacio.</p>
        <div class="flex flex-col md:flex-row gap-4 mt-10">
          <a href="" class="px-7 py-4 rounded-full bg-pinky-regular hover:bg-pinky-dark text-xl text-center text-white transition-all font-bold cursor-pointer">Ver Productos</a>
          <a href="" class="px-7 py-4 rounded-full border-4 border-pinky-regular bg-transparent hover:bg-pinky-regular text-xl text-center text-pinky-regular hover:text-white transition-all font-bold cursor-pointer">Cotizar Producto</a>
        </div>
      </div>

      <!-- Ilustracion Cositos -->
      <div class="relative  flex  ">
        <img src="/images/ilustracion.png" class="object-cover scale-75" alt="">
      </div>
    </div>
  </div>
</section>


<style>
	
</style>   