---

---

<section id="products" class=" w-full">
  <div class="max-w-7xl mx-auto p-2">
    <h2 class="text-pinky-regular text-center text-6xl font-caveat font-semibold">Mis Creaciones</h2>
    <p class="text-center text-text-dark text-xl mt-10">Cada pieza está hecha a mano con materiales de alta calidad, pensando en los <br> detalles que hacen especial cada creación.</p>
    
    <!-- Menu Tabs -->
    <div class="flex gap-4 items-center justify-center mt-10">
      <button   
        class=`px-5 py-2 rounded-full text-xl transition-all text-white shadow-md bg-pinky-regular hover:bg-pinky-dark cursor-pointer`>
        Todos
      </button>
      <button   
        class=`px-5 py-2 rounded-full text-xl transition-all text-white shadow-md bg-pinky-regular hover:bg-pinky-dark cursor-pointer`>
        Amigurumis
      </button>
      <button   
        class=`px-5 py-2 rounded-full text-xl transition-all text-white shadow-md bg-pinky-regular hover:bg-pinky-dark cursor-pointer`>
        Bolsos
      </button>
      <button   
        class=`px-5 py-2 rounded-full text-xl transition-all text-white shadow-md bg-pinky-regular hover:bg-pinky-dark cursor-pointer`>
        Decoración
      </button>
    </div>

  </div>
</section>