---

---

<section id="products" class=" w-full bg-pinky-dark">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magni voluptatem repudiandae expedita quia molestias quam dolores exercitationem quis, inventore maiores nostrum, quos at labore. Vero optio laborum corrupti? Ex!</p>
</section>